html {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 220, 205);
    color: rgb(33, 29, 14);
    font-size: 1.3em;
    body {
        margin: 0;
        padding: 10% 20%;
        font-family: "Crimson Text", "Crimson", serif;
        a {
            text-decoration: none;
        }
    }
}
