<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Fabula</title>

        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,700i" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/main.css" />
    </head>
    <body>
        <div class="header">
            <a href="{{ site.baseurl }}/">Fabula</a>
        </div>

        {{ content }}

        <div class="footer">

        </div>
    </body>
</html>
